@import "tailwindcss";

.body {
  background-color: #eaead4;
}

.nav-container {
  background-color: #233142;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-button {
  color: #ececec;
  padding: 0.4rem;
}

.nav-button:hover {
  color: #bbe4e9;
}